body {
  background-color :  #f0d4ff;
  color: #a4215a;
  font-size: 50pt     };


window {

}
a:link{
  color: #a4215a;
  text-decoration:  underline;
}
a:visited{
  color: #a4215a;
  text-decoration: underline;
}
a:hover{
  color: #a4215a;
  text-decoration:  underline;
}
a:active{
  color: #a4215a;
  text-decoration: underline;
}

@font-face {
  font-family: 'Symbola';
  src: url('fonts/Symbola.odt');
  src: url('Symbola.otf');
}
