#header {
  color: #73464c;
  font-size: 17pt;
  font-family: 'Overpass Mono', monospace;
  width: 200px;
  height: auto;
}
#sidebar{
  color: #73464c;
  font-size: 12pt;
  font-family: 'Overpass Mono', monospace;
  width: 200px;
  float:left;
  clear:left;

}
#exhibit{
  color: #73464c;
  position: relative;
  top: -100px;
  font-size: 10pt;
  font-family: 'Overpass Mono', monospace;
  max-width: 1024px;
  clear: right;
  overflow: auto;
  padding-left: 10px;
}


  /* mobile friendliness :-) */
@media only screen and (max-width 768px) {
    #header{
      width: 150%;
      font-size:150%;
    }
    #sidebar{
      width: 150%;
      font-size:150%;
      float:none;
      clear:none;
    }
    #exhibit{
      width: auto;
    }

body {
  background-color: #ffd9f5;
  color: #73464c;
}
a:link{
  color: #73464c;
  text-decoration:  underline;
}
a:visited{
  color: #73464c;
  text-decoration: underline;
}
a:hover{
  color: #ed8598;
  text-decoration:  none;
}
a:active{
  color: #ed8598;
  text-decoration: none;
}
