#header {
  color: #0d2b45;
  font-size: 17pt;
  font-family: 'Overpass Mono', monospace;
  width: 200px;
  height: auto;
}
#sidebar{
  font-size: 12pt;
  font-family: 'Overpass Mono', monospace;
  width: 200px;
  float:left;
  clear:left;

}
#exhibit{
  color: #0d2b45;
  position: relative;
  top: -100px;
  font-size: 10pt;
  font-family: 'Overpass Mono', monospace;
  max-width: auto;
  clear: right;
  overflow: auto;
  padding-left: 10px;
}
#textSL{
  color: #0d2b45;
  position: absolute;
  left: 1%;
  max-width:500px;
}
#excessVid{
  color: #73464c;
  position: absolute;
  top: 319px;
  left: 305px;
}
#textExcess{
  color: #73464c;
  position: relative;
  left: 1%;
  max-width: 500px;
}
#sungif{
  position: relative;
  top: -400px;
  left: 65%;
}
body {
  background-color: #deeeff;
  color: #73464c;
}
a:link{
  color: #0d2b45;
  text-decoration:  underline;
}
a:visited{
  color: #0d2b45;
  text-decoration: underline;
}
a:hover{
  color: #34acba;
  text-decoration:  none;
}
a:active{
  color: #34acba;
  text-decoration: none;
}
